.my-card{
    box-shadow: var(--shadow-box);
    min-width: 400px;
    border-radius: 0.5rem;
    margin: 2rem;
    flex: 1;
}

.ant-card-head-title{
    margin: 0;
    font-weight: 500;
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 2rem auto;
}

.my-card p{
    margin:  0;
}