
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadow-box: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: 'Montserrat', sans-serif;
}


.custom-input {
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 0.5rem 0rem;
  font-size: 0.8rem;
  opacity: 0.8;
  border-radius: 0;
}



.custom-input:focus{
  outline: none;
  opacity: 1;
  transition: all 0.2s;
}